[Desktop Entry]
Version=1.0
Name=FreeFileSync
Comment=File sync tool
Keywords=synchronization;
Exec=/usr/share/freefilesync/app/usr/bin/FreeFileSync %f
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=freefilesync
Categories=Utility;FileTools;
StartupNotify=true
